<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>Bukz_app</title>
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="text-center">