<!DOCTYPE html>
<html>
  <head>
	<title>Bukz App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" >
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	

	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




  </head>
  <body>
	
	<div class="ui top fixed inverted brown menu">
		
	<div class="ui container">
		
		<div class="header item"><i class="bookmark icon"></i> Bukz app</div>
		<a href="/books" class="item">Home</a>
		
		<a href="/books/new" class="item">New Book Review</a>

		<a href="/about" class="item">Comment</a>

	

		
		
		
	  </div>
	</div>  