<%- include("./partials/header.ejs") %>

	<div class="ui newbook text container segment">

		<div class="ui huge header">Comment for book : <%= book.title %></div>

		<form action="/about" method="POST" class="ui form">

			<div class="field">
				<label>Book Title</label>
				<input type="text" name="view[name]" placeholder="Book Title" required >
			</div>

			
			<div class="field">
				<label>Book Comment</label>
				<textarea name="view[commenter]" required></textarea>
			</div>

			

			

			<div class=" grouped fields">

				<label for="view[rating]">Rating</label>

				<div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="view[rating]" tabindex="0" class="hidden" value="1">
			        <label><i class="yellow star icon"></i></label>
			      </div>
			    </div>

			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="view[rating]" tabindex="0" class="hidden" value="2">
			        <label><i class="yellow star icon"> </i><i class="yellow star icon"></i></label>
			      </div>
			    </div>

			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="view[rating]" tabindex="0" class="hidden" value="3">
			        <label><i class="yellow star icon"></i> <i class="yellow star icon"></i> <i class="yellow star icon"></i></label>
			      </div>
			    </div>

			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="view[rating]" tabindex="0" class="hidden" value="4">
			        <label><i class="yellow star icon"></i> <i class="yellow star icon"></i> <i class="yellow star icon"></i> <i class="yellow star icon"></i></label>
			      </div>
			    </div>

			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="view[rating]" tabindex="0" class="hidden" value="5">
			        <label><i class="yellow star icon"></i> <i class="yellow star icon"></i> <i class="yellow star icon"></i> <i class="yellow star icon"></i> <i class="yellow star icon"></i></label>
			      </div>
			    </div>

			</div>

			<button class="ui basic yellow button" type="submit">Submit</button>

		</form>

	</div>
	

<%- include("./partials/footer.ejs") %>